<!DOCTYPE html>

<html>
<head>
    <title>AboutUs</title>
  <link rel="icon" href="/img/weatherappIcon.png">
  <link rel="stylesheet" href="./css/styles.css">

</head>

<body>
    <div class="main-content">
{{>header}}
    <h1> {{title}}</h1>
    <img class="portrait" src="./img/best-about-us-pages.jpg">
    <p>Created by {{name}}</p>

</div>
{{>footer}}
</body>
</html>
