<!DOCTYPE html>

<html>
<head>
    <title>Help</title>
    <link rel="icon" href="/img/weatherappIcon.png">
     <link rel="stylesheet" href="./css/styles.css">

</head>

<body>
<div class="main-content">
{{>header}}
    <h1> The Help file exist here</h1>
    <p>{{content}}</p>
    <p>Created by {{name}}</p>
   
   </div>
    {{>footer}}
</body>
</html>
